{% extends "base.html" %}
{% block titulo %} Contactanos {% endblock %}
{% block contenido %}
    <div class="PadreContactanos">
        <div class="HijoContactanos">
            <p><i class="fas fa-phone"></i>   4426031954</p>
            <br /><br /><br />
            <p><i class="fas fa-at" ></i>   veterinariasanu@gmail.com</p>
            <br /><br /><br />
            <p><i class="fas fa-route"></i>  Av. Palma Cocotera 2121 - local F, Palmates, 76127, Santiago de Querétaro, Qro.</p>
        </div>
        <div class="HijoContactanos">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3733.285336525737!2d-100.42851262500861!3d20.657967300411205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d35b57c3164e4b%3A0x943cc81b68b47121!2sCl%C3%ADnica%20de%20Neurologia%20Veterinaria%20SANU!5e0!3m2!1ses!2smx!4v1754963584524!5m2!1ses!2smx"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="Mapa"></iframe>
        </div>
    </div>
{% endblock %}